@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #e5e5e5;
}

section{
    width: 100vw;
    height: 100vh;
}

h1{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 50px;
}

.img_container{
    margin: 0 auto;
    width: 600px;
    position: relative;
}

img{
    
}

p{
    position: absolute;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 40px;
    top: 135px;
    left: 160px;
}


li{
    background-color: rgb(255, 255, 255);
    padding: 10px 60px;
    border-radius: 10px;
}